$color-primary-green-1: #69db7c;
$color-primary-green-2: #51cf66;

$gradient-primary-green: linear-gradient(
  to top left,
  $color-primary-green-1,
  $color-primary-green-2
);

$color-primary-purple-1: #ff008c;
$color-primary-purple-2: #ff00fe;

$gradient-primary-purple: linear-gradient(
  to top left,
  $color-primary-purple-1,
  $color-primary-purple-2
);

$gradient-primary-purple-2: linear-gradient(
  to right bottom,
  $color-primary-purple-1,
  $color-primary-purple-2
);

$color-dark-1: #131313;
$color-light: #f1f3f5;

:root {
  --temporary-main-color: #131313;
  --temporary-secondary-color: #f1f3f5;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  transition: all 0.2s;

  position: relative;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

///////////////////////////////////////////////

/* scrollbar width */
::-webkit-scrollbar {
  width: 10px;
}

/* scrollbar Track */
::-webkit-scrollbar-track {
  background: var(--temporary-main-color);
}

/* scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: var(--temporary-secondary-color);
}

.section {
  margin: 9rem 18rem 9rem 18rem;
  padding-bottom: 8rem;

  &:not(:last-of-type) {
    border-bottom: solid 1px var(--temporary-secondary-color);
  }
}

.dark-mode {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}
