:root {
  --temporary-main-color: #131313;
  --temporary-secondary-color: #f1f3f5;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

*:focus-visible {
  outline: none;
  opacity: 0.5;
  transition: all 0.2s;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  transition: all 0.2s;
  position: relative;
}

button {
  background: none;
  border: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.sticky {
  position: fixed !important;
}

/* scrollbar width */
::-webkit-scrollbar {
  width: 10px;
}

/* scrollbar Track */
::-webkit-scrollbar-track {
  background: var(--temporary-main-color);
}

/* scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: var(--temporary-secondary-color);
}

.section {
  margin: 9rem 18rem 9rem 18rem;
  padding-bottom: 8rem;
}
.section:not(:last-of-type) {
  border-bottom: solid 1px var(--temporary-secondary-color);
}

.dark-mode {
  background: none;
  border: none;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
}
.dark-mode img {
  width: 100%;
  height: 100%;
}

.nav {
  background-color: var(--temporary-main-color);
  z-index: 10;
  padding: 2rem 10rem;
  border-bottom: #3c3f42 2px solid;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s;
}
.nav__list {
  transition: all 0.2s;
  font-size: 2.5rem;
  font-family: "Cairo";
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.nav__list-item {
  transition: all 0.2s;
}
.nav__img {
  width: 20rem;
  cursor: pointer;
}

.nav__list:hover .nav__list-item:not(:hover) {
  opacity: 0.5;
}

@media only screen and (max-width: 100em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 80em) {
  html {
    font-size: 45%;
  }
}
@media only screen and (max-width: 71.25em) {
  html {
    font-size: 40%;
  }
}

@media only screen and (max-width: 58.125em) {
  body {
    margin: 5rem;
  }
}
@media only screen and (max-width: 45.625em) {
  body {
    margin: 3rem;
  }
}
@media only screen and (max-width: 33.125em) {
  body {
    margin: 0rem;
  }
}

@media only screen and (max-width: 33.125em) {
  .mobile__nav-button {
    display: flex !important;
  }
}
@media only screen and (max-width: 33.125em) {
  .mobile__nav-background {
    display: block !important;
  }
}

@media only screen and (max-width: 45.625em) {
  .nav {
    padding: 1rem;
  }
}
@media only screen and (max-width: 33.125em) {
  .nav {
    display: none !important;
  }
}

@media only screen and (max-width: 71.25em) {
  .section {
    margin: 10rem !important;
  }
}
@media only screen and (max-width: 58.125em) {
  .section {
    margin: 5rem !important;
  }
}
@media only screen and (max-width: 33.125em) {
  .section {
    margin: 1.5rem !important;
  }
}

@media only screen and (max-width: 33.125em) {
  .header {
    margin-top: 10rem !important;
  }
}
@media only screen and (max-width: 58.125em) {
  .header {
    text-align: center;
  }
}
@media only screen and (max-width: 58.125em) {
  .header__title h1 {
    width: auto !important;
  }
}
@media only screen and (max-width: 100em) {
  .header__img {
    width: 70rem !important;
  }
}
@media only screen and (max-width: 58.125em) {
  .header__img {
    margin-top: 3rem !important;
    text-align: center;
  }
}
@media only screen and (max-width: 33.125em) {
  .header__img {
    width: 43rem !important;
    height: 28rem !important;
  }
}
@media only screen and (max-width: 58.125em) {
  .header__box {
    display: block !important;
    flex-direction: column !important;
  }
}

@media only screen and (max-width: 45.625em) {
  .services__boxes {
    margin-top: 3rem !important;
  }
}
@media only screen and (max-width: 45.625em) {
  .services__boxes_box {
    flex-direction: column;
    text-align: center;
  }
}
@media only screen and (max-width: 100em) {
  .services__boxes_box-textbox-description {
    font-size: 2.6rem !important;
  }
}
@media only screen and (max-width: 71.25em) {
  .services__boxes_box-textbox-description {
    font-size: 2.8rem !important;
  }
}
@media only screen and (max-width: 33.125em) {
  .services__boxes_box img {
    width: 40rem !important;
    height: 25rem !important;
  }
}
@media only screen and (max-width: 45.625em) {
  .services__boxes_box:nth-child(2) .services__boxes_box-picture {
    order: 1 !important;
  }
}

.slider__small-pictures img {
  width: 10rem;
  height: 10rem;
}

@media only screen and (max-width: 33.125em) {
  .contact {
    padding-bottom: 25rem !important;
  }
}
@media only screen and (max-width: 33.125em) {
  .contact__grid {
    grid-template-columns: none !important;
    margin-top: 3rem;
    gap: 2rem !important;
  }
}
@media only screen and (max-width: 58.125em) {
  .contact__grid {
    margin: 8rem 0 !important;
  }
}
@media only screen and (max-width: 33.125em) {
  .contact__grid-box {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 33.125em) {
  .contact__grid-long {
    grid-column: 1 !important;
  }
}

@media only screen and (max-width: 45.625em) {
  .about__boxes {
    width: -moz-fit-content !important;
    width: fit-content !important;
    flex-direction: column;
    gap: 5rem;
  }
}
@media only screen and (max-width: 33.125em) {
  .about__boxes-box {
    width: -moz-fit-content !important;
    width: fit-content !important;
  }
}

::-moz-selection {
  color: #ff008c;
  background: var(--temporary-secondary-color);
}

::selection {
  color: #ff008c;
  background: var(--temporary-secondary-color);
}

body {
  font-family: "Exo", sans-serif;
  background-color: var(--temporary-main-color);
  color: var(--temporary-secondary-color);
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

i {
  width: 3rem;
  height: 3rem;
}

.section__header-main {
  font-size: 2rem;
  background-image: linear-gradient(to top left, #ff008c, #ff00fe);
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
}
.section__header-main:hover {
  transform: skew(5deg);
}
.section__header-description {
  font-size: 3rem;
}

.highlight {
  position: relative;
}

.highlight-green::before,
.highlight-purple::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  padding: 0.5rem;
  cursor: pointer;
  transform: scale(1.07, 1.05) skewX(-15deg);
  opacity: 0.7;
}

.highlight-green::before {
  background-image: linear-gradient(to top left, #69db7c, #51cf66);
}

.highlight-purple::before {
  background-image: linear-gradient(to top left, #ff008c, #ff00fe);
}

.btn-main {
  font-size: 2rem;
  color: #131313;
  background-color: #fff;
  margin: 1rem;
  padding: 1.8rem 4rem;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  box-shadow: 0rem 3rem 5rem rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}
.btn-main:hover {
  transform: translateY(-1px);
  box-shadow: 0rem 3rem 5rem rgba(0, 0, 0, 0.3);
}
.btn-main:active {
  transform: translateY(1px);
  box-shadow: 0rem 3rem 5rem rgba(0, 0, 0, 0.2);
}

.mobile__nav {
  position: relative;
}
.mobile__nav-button {
  position: fixed;
  content: "";
  width: 8rem;
  height: 8rem;
  background-color: #f1f3f5;
  border: none;
  border-radius: 50%;
  top: 1rem;
  right: 1rem;
  z-index: 200;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
  display: none;
  align-items: center;
  justify-content: center;
}
.mobile__nav-button-icon {
  position: relative;
}
.mobile__nav-button-icon, .mobile__nav-button-icon::after, .mobile__nav-button-icon::before {
  width: 5rem;
  height: 2px;
  background-color: #000;
  transition: all 0.2s;
}
.mobile__nav-button-icon::after, .mobile__nav-button-icon::before {
  position: absolute;
  content: "";
  left: 0;
}
.mobile__nav-button-icon::before {
  top: 1.5rem;
}
.mobile__nav-button-icon::after {
  bottom: 1.5rem;
}
.mobile__nav-button .mobile__nav-clicked {
  height: 0 !important;
}
.mobile__nav-button .mobile__nav-clicked::after {
  transform: rotate(-130deg);
  top: 0;
}
.mobile__nav-button .mobile__nav-clicked::before {
  transform: rotate(130deg);
  top: 0;
}
.mobile__nav_list {
  position: fixed;
  font-size: 5rem;
  color: #f1f3f5;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 100;
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  transition: all, 0.8s cubic-bezier(0.86, 0, 0.07, 2);
}
.mobile__nav_list img {
  height: 7rem;
  width: 7rem;
}
.mobile__nav-background {
  display: none;
  position: fixed;
  background-image: linear-gradient(to right bottom, #ff008c, #ff00fe);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  top: 4rem;
  right: 3rem;
  transition: all, 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  z-index: 100;
}
.mobile__nav .mobile__nav-scaleUp {
  transform: scale(80);
  top: 25rem !important;
  right: 25rem !important;
}
.mobile__nav .height90 {
  height: 90% !important;
}

.header__box {
  display: flex;
  justify-content: space-between;
}
.header__title h1 {
  font-size: 6rem;
  color: var(--temporary-secondary-color);
  font-weight: 600;
  width: 60rem;
  cursor: default;
  margin-bottom: 2rem;
}
.header__title h2 {
  font-size: 2.8rem;
}
.header__title h3 {
  font-size: 2.4rem;
  margin-bottom: 6rem;
}
.header__img {
  width: 80rem;
  border-radius: 20px;
}

.header__link {
  font-size: 2rem;
  text-decoration: none;
  color: #ff008c;
}
.header__link:hover {
  color: #ff00fe;
}

.services__boxes {
  width: 100%;
  margin-top: 10rem;
  display: grid;
  justify-content: center;
}
.services__boxes_box {
  width: 100%;
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}
.services__boxes_box:not(:last-child) {
  border-bottom: 1px rgba(51, 51, 51, 0.3) solid;
}
.services__boxes_box-textbox {
  width: 40rem;
}
.services__boxes_box-textbox-title {
  color: #ff008c;
  font-size: 3rem;
  transition: all 0.2s;
  cursor: default;
}
.services__boxes_box-textbox-title:hover {
  color: #ff00fe;
}
.services__boxes_box-textbox-description {
  font-size: 2rem;
}
.services__boxes_box img {
  width: 45rem;
  height: 30rem;
  border-radius: 15px;
}
.services__boxes_box-picture {
  position: relative;
}
.services__boxes_box-picture span {
  color: #f1f3f5;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.8rem;
  z-index: 1;
  font-family: "Cairo", sans-serif;
}
.services__footer {
  width: 100%;
  display: grid;
  justify-items: center;
}
.services__footer-more {
  font-size: 2rem;
}

.slider {
  margin-top: 10rem;
  display: grid;
  justify-items: center;
}
.slider__big-picture {
  width: -moz-fit-content;
  width: fit-content;
  height: 50rem;
  display: grid;
  justify-items: center;
  align-items: center;
}
.slider__big-picture img {
  width: 100%;
  max-height: 50rem;
}
.slider__small-pictures {
  width: 90%;
  margin-top: 2rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-template-rows: repeat(auto-fit, 10rem);
}
.slider__small-pictures button:focus {
  width: 13rem;
  height: 13rem;
}
.slider__small-pictures::-webkit-scrollbar {
  display: none;
}
.slider__small-pictures .slider__small-picture {
  margin: 1rem;
  cursor: pointer;
  justify-self: center;
}
.slider__small-pictures .slider__small-picture img {
  width: 13rem;
  height: 13rem;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}
.slider__small-pictures .slider__small-picture img:hover {
  border-color: var(--temporary-secondary-color);
}
.slider__small-pictures .slider__small-picture.active img {
  border-color: #ff008c;
}

.contact__grid {
  height: 30rem;
  margin: 8rem 15rem;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}
.contact__grid-box {
  padding: 2rem;
  text-align: center;
  border: 1px solid var(--temporary-secondary-color);
  border-radius: 10px;
  display: grid;
  justify-items: center;
  transition: all 0.2s;
}
.contact__grid-box:hover {
  border-color: #ff008c;
}
.contact__grid-box-icon {
  font-size: 4rem;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: transparent;
  background-image: linear-gradient(to top left, #ff008c, #ff00fe);
  -webkit-background-clip: text;
          background-clip: text;
}
.contact__grid-box-title {
  font-size: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact__grid-long {
  grid-column: span 3;
}

.about {
  margin-bottom: 10rem !important;
  display: grid;
  justify-items: center;
}
.about__header {
  justify-self: start;
}
.about__boxes {
  width: 100rem;
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
}
.about__boxes-box {
  width: 40rem;
  text-align: center;
}
.about__boxes-box-title {
  font-size: 5rem;
  margin-bottom: 1rem;
}
.about__boxes-box-description {
  font-size: 2rem;
}